:root{
    /*Colors*/
    --color-primary: #0E2844;
    --color-secondary: #FF6525;
    --color-white: #FAFAFA;
    --color-soft: #FFF9F4;

    /*Typography*/
    font-size: 10px;
    --sd-font-size: 1.5rem;
    --medium-font-size: 2.5rem;
    --big-font-size: 3.5rem;
    --h1-font-size: 5.5rem;
    --li-font-size: 1.8rem;

    /*Padding*/
    --sd-padding-size: 6rem;
    --ft-padding-size: 10rem;
}

/*CSS Resets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CSS Global*/
body{
    width: 100%;
    max-width: 1250px;
    height: 100vh;
    margin: 0 auto;
    padding: 3rem 5%;
    font-family: 'Quicksand', sans-serif;
    background: var(--color-white);
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

h1, h2, h3{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-primary);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--sd-font-size);
    font-weight: 700;
    border: none;
    border-radius: 1rem ;
    cursor: pointer;
}

/*Container*/
#container{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

/*Header*/
.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Brand Menu Container*/
.brand-menu-container{
    display: flex;
    align-items: center;
}

/*Logo*/
.logo{
    max-width: 280px;
}

.logo img{
    width: 90%;
}

/*Menu Toggle Container*/
.menu-toggle-container{
    font-size: 3rem;
    color: var(--color-secondary);
    cursor: pointer;
    display: none;
}

/*Menu*/
.menu{
    display: flex;
    align-items: center;
}

.menu li a{
    font-size: var(--sd-font-size);
    font-weight: 700;
    color: var(--color-primary);
    padding: 1rem;
    margin-right: 1.5rem;
}

.menu li a:hover{
    color: var(--color-secondary);
    transition: .5s ease;
}

/*btn*/
#btn{
    width: 100%;
    padding: 1rem 2.5rem;
    background: var(--color-secondary);
    display: flex;
    justify-content: center;
    color: var(--color-white);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#btn:hover{
    opacity: 0.8;
    transition: .5s ease;
}

/*Main*/
.main{
    display: grid;
    grid-template-areas:
    "greetings greetings"
    "best-destinations best-destinations"
    "reasons-to-travel reasons-to-travel"
    "prices prices";
}

/*Greetings*/
.greetings{
    grid-area: greetings;
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, auto));
    justify-content: center;
    align-items: center;
    padding-bottom: var(--sd-padding-size);
}

/*Content Invite*/
.content-invite{
    white-space: pre-line;
}

.content-invite h1{
    font-size: var(--h1-font-size);
    font-weight: 700;
    line-height: 1.25;
}

.content-invite p{
    font-size: var(--sd-font-size);
    font-weight: 600;
    color: var(--color-primary);
    text-align: justify;
    padding-top: 2rem;
}

.content-invite p span{
    color: var(--color-secondary);
}

/*Figure Travelling*/
.figure-travelling{
    display: flex;
    justify-content: flex-end;
}

.figure-travelling img{
    width: 90%;
}